<!-- Main -->
<div class="view">
    <div class="full-bg-img">
        <div class="mask rgba-black-strong flex-center">
            <div class="container">
                <div class="white-text text-center wow fadeInUp">
                    <h2>Haven't tasted any our meals ?</h2>
                    <h5> oh ! You are missing out. </h5>
                    <br>
                    <p>Order now and get it delivered at you door step so simple and easy.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Main Layout-->
<main class="text-center py-5 mt-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="text-align: center; font-size: larger;font-weight: bold;"> Our Menu</p>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="assets/Images/foods.jpg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Food</h5>
                        <p class="card-text">
                            Some quick example text to build on the 5773 3849 and make up the bulk of the
                            card's content.
                        </p>
                        <a href="#!" class="btn btn-primary" [routerLink]="['/details']">Button</a>
                    </div>
                </div>
            </div>


            <div class="col-sm">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="assets/Images/foods.jpg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Food</h5>
                        <p class="card-text">
                            Some quick example text to build on the 5773 3849 and make up the bulk of the
                            card's content.
                        </p>
                        <a href="#!" class="btn btn-primary" [routerLink]="['/details']">Button</a>
                    </div>
                </div>
            </div>


            <div class="col-sm">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="assets/Images/foods.jpg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Food</h5>
                        <p class="card-text">
                            Some quick example text to build on the 5773 3849 and make up the bulk of the
                            card's content.
                        </p>
                        <a href="#!" class="btn btn-primary" [routerLink]="['/details']">Button</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>
<!--Main Layout -->