<br><br>
<div class="container">

  <form [formGroup]="orderForm" class="card">
    <div class="row">
      <div class="col-md-6 text-center align-self-center"> <img style="max-height: 300px;" class="img-fluid"
          src={{this.selectedMenu.picture}}>
      </div>
      <div class="col-md-6 info">
        <div class="row title">
          <div class="col">
            <h2>{{selectedMenu.name}}</h2>
          </div>
          <div class="col text-right"><a href="#"><i class="fa fa-heart-o"></i></a></div>
        </div>
        <p style="font-size: larger;"># {{this.selectedMenu.price}}</p><input type="hidden" value={{this.selectedMenu.price}} formControlName="amount"/>
        <span>{{selectedMenu.description}}</span>
        <div class="row price">
          <div class="row "> <label class="mb-1">
              <h6 class="mb-0 text-sm">Delivery Company</h6>
            </label><select class="mb-4 form-control" name="delivery" (change)="onChange($event.target.value)">

              <option *ngFor="let deliveryName of deliveryNames" [ngValue]="deliveryName.name" selected>{{
                deliveryName.name }}

              </option>

            </select> </div>

          <label class="radio mt-4">
            <input type="radio" name="size1" value="large">
            <span>
              <h6 class="mb-0 text-sm">Delivery Fee</h6>
              <div class="row">
                <a><b class="text-black-50">#500</b></a><input type="hidden" value="50000" formControlName="deliveryFee"/>
                <!--price-->
                <input type="hidden" value="" formControlName="deliveryId"/>
              </div>
            </span>
          </label>
          <div class="mt-4">
            <h6 class="mb-0 text-sm">Delivery Means</h6>
            <hr class="mb-30">
            <label class="check" *ngIf="car"> <input type="radio"  formControlName="road" (change)="search('car',$event)">
              <span>Car</span> </label>
            <label class="check" *ngIf="bike"> <input type="radio"  formControlName="road" (change)="search('bike',$event)">
              <span>Bike</span> </label>
            <label class="check" *ngIf="boat"> <input type="radio" formControlName="road" (change)="search('boat',$event)">
              <span>Boat</span> </label>
          </div>
        </div>

      </div>
    </div>

    <div class="row lower">
      <div class="col text-right align-self-center"> <button class="btn" (click)='payNow()'>Pay now !</button> </div>
    </div>
  
</form>