.left-margin{
    margin-left: 20%;
}
@media screen and (max-with: 1240px){
    .left-margin{
        margin-left: 0%;
    }
}
.h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow: 0 0 2px #fff;
    margin-bottom: 5%;
    color: white;
}