<div class="wrapper bg-white">

  <div class="h2 text-center">Restaurants Meal</div>

  <div class="text-muted">Enter your Meal details</div>
  <form>
      <div class="d-sm-flex align-items-sm-center justify-content-sm-between pt-1 mb-1">
          <div class="form-group"> <label class="text-muted mandatory">Price</label> <input type="text" required class="form-control"> </div>
          <div class="form-group"> <label class="text-muted mandatory">Time Taken</label> <input type="email" required class="form-control"> </div>
      </div>
      <div class="d-sm-flex align-items-sm-center justify-content-sm-between pt-1 mb-1">
         
          <div class="form-group"> <label class="text-muted">Meal Picture</label> <input type="file" class="form-control"> </div>
      </div>
      
      <div class="form-group"> <label class="text-muted mandatory">Description</label> <textarea type="" required class="form-control"> </textarea> </div>
      <br>
      <div class="d-flex align-items-center justify-content-sm-end button-section"> <button class="btn btn-primary mx-4" type="submit">Submit</button> <button class="btn">Cancel</button> </div>
  </form>
</div>