<figure class="snip1527">
    <div class="image"><img src="assets/Images/side.jpg" alt="pr-sample23" /></div>
    <figcaption>
        <div class="date"><span class="day mb-2">{{rest.restId}}</span><span class="month">{{rest.city}}</span>
        </div>
        <h3>
            {{rest.account.name}}</h3>
        <p>Vist our to resturant across the country in locations such as Lagos, Abuja, Port-Harcourt and many more !</p>
    </figcaption> <a [routerLink]="['/menu', rest.restId]" class="text-white p-2"> Tel-No :- {{rest.account.phoneNumber}}</a>
</figure>
