<div class="wrapper bg-white">

    <div class="h2 text-center">ServByte Restaurants</div>
    <div class="h5 font-weight-bold">Registration</div>
    <div class="text-muted">Enter your registration details</div>
    <form>
        <div class="d-sm-flex align-items-sm-center justify-content-sm-between pt-1 mb-1">
            <div class="form-group"> <label class="text-muted mandatory">Name</label> <input type="text" required class="form-control"> </div>
            <div class="form-group"> <label class="text-muted mandatory">Email Address</label> <input type="email" required class="form-control"> </div>
        </div>
        <div class="d-sm-flex align-items-sm-center justify-content-sm-between pt-1 mb-1">
           
            <div class="form-group"> <label class="text-muted">Restaurant Logo</label> <input type="file" class="form-control"> </div>
        </div>
        <div class="d-sm-flex align-items-sm-center justify-content-sm-between pt-1  mb-1">
            <div class="form-group"> <label class="text-muted mandatory">Phone Number</label> <input type="tel" required class="form-control"> </div>
            <div class="form-group"> <label class="text-muted">City</label> <input type="text" class="form-control"> </div>
        </div>
        <div class="form-group"> <label class="text-muted mandatory">Password</label> <input type="password" required class="form-control"> </div>
        <br>
        <div class="d-flex align-items-center justify-content-sm-end button-section"> <button class="btn btn-primary mx-4" type="submit">Submit</button> <button class="btn">Cancel</button> </div>
    </form>
</div>